executor ="local"


apptainer {
    enabled = true
    cacheDir = 'apptainer'
	runOptions = '--home $HOME:/home/$USER --bind /home'
}

process {	
	withName: 'indexRef'  {
		container = "evolbioinfo/bwa:v0.7.17"
	}
	withName: 'mapping' { 
		container = "evolbioinfo/bwa:v0.7.17"
	}
	withName: 'consensus' {
		container = "evolbioinfo/ivar:v1.3.1"
	}
	withName: 'nextclade' {
		container = "nextstrain/nextclade:3.13.3"
	}
	withName: 'nextcladedata' {
		container = "nextstrain/nextclade:3.13.3"
	}
	withName: 'pangolin' {
	    container='evolbioinfo/pangolin:v4.3.1-v1.33-v0.3.19-v0.1.12'
	}
}
