body {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Courier New", monospace;
}

img {
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

h2{
    color: rgb(56, 56, 117);
    margin-top: 40px;
}


h3{
    color: rgb(38, 78, 54);
    margin-top: 30px;
}

h4{
    color: rgb(127, 78, 0);
}